@model CardModel

@section pageTitle {
    <span>Edit card</span>
}

@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<form method="post" asp-action="SaveChanges" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="border rounded float-left col p-2 ml-5 mr-5 w-25 h-25">
                    <h5 class="mb-1">Image</h5>
                    <img id="image" class="mb-1 mh-100 mw-100" src="@Url.Action("GetImage", new { Model.DeckId, Model.Id })" alt="Image" />
                    <br />
                    <input type="file" class="form-control-file mb-1" id="imageInp" onchange="readImage(this)" asp-for="@Model.Image" />
                    <a class="btn btn-danger btn-sm" id="removeImage" href="#">Remove</a>

                    <input type="hidden" id="imageRemoved" asp-for="@Model.ImageRemoved" value="@false" />
                </div>

                <div>
                    <input placeholder="Description" asp-for="@Model.Description" value="@Model.Description" />
                    <input placeholder="Word" asp-for="@Model.Word" value="@Model.Word" />
                    <input placeholder="Transcription" asp-for="@Model.Transcription" value="@Model.Transcription" />
                </div>

                <div>
                    <h4 class="mb-1">Difficulty</h4>
                    @foreach (var c in System.Enum.GetValues(typeof(Difficulty)).OfType<Difficulty>())
                    {
                        <input type="radio" asp-for="@Model.Difficulty" value="@((int)c)" checked="@(c == Model.Difficulty)" />
                        <label asp-for="@Model.Difficulty">@c</label>
                        <br />
                    }
                </div>

                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <input type="hidden" asp-for="@Model.DeckId" value="@Model.DeckId" />
            </div>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Save Changes</button>
</form>

<script>
    $("#removeImage").click(function (e) {
        e.preventDefault();
        $('#image').attr('src', "");
        $("#imageInp").val(null);
        $('#imageRemoved').val(true);
    });

    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
            $('#imageRemoved').val(false);
        }
    }
</script>
