@model ProfileSettingsModel

@section pageTitle {
    <span>Profile Settings</span>
}
@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @Model.Username
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small active" href="#">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 pb-5">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-general" role="tabpanel" aria-labelledby="general">
                    <form class="row" asp-action="UpdateGeneralInfo" asp-controller="ProfileSettings" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <div asp-validation-for="Username" class="text-danger"></div>
                                <input asp-for="Username" class="form-control" type="text" value="@Model.Username">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Email">E-mail Address</label>
                                <div asp-validation-for="Email" class="text-danger"></div>
                                <input asp-for="Email" class="form-control" type="email" value="@Model.Email" disabled="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-style-1 btn-primary">Update</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="list-password" role="tabpanel" aria-labelledby="password">
                    <form class="row" asp-action="ChangePassword" asp-controller="ProfileSettings" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="CurrentPassword">Current Password</label>
                                <div asp-validation-for="CurrentPassword" class="text-danger"></div>
                                <input asp-for="CurrentPassword" class="form-control" type="password" value="@Model.CurrentPassword">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="NewPassword">New Password</label>
                                <div asp-validation-for="NewPassword" class="text-danger"></div>
                                <input asp-for="NewPassword" class="form-control" type="password" value="@Model.NewPassword">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="PasswordConfirm">Confirm Password</label>
                                <div asp-validation-for="NewPassword" class="text-danger"></div>
                                <input asp-for="PasswordConfirm" class="form-control" type="password" value="@Model.PasswordConfirm">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-style-1 btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
                <div asp-validation-summary="All" class="text-danger mt-2"></div>
            </div>
        </div>
        <div class="col-lg-4 pb-5">
            <div class="row justify-content-end">
                <div class="border border-secondary rounded p-1" style="width: 280px; height: 280px;">
                    <img id="picture" src="@Url.Action("GetPicture")" alt="@Model.Username" style="width: 270px; height: 270px; object-fit: contain;"
                         accept="image/*">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="mt-2 mb-2 ml-2">
                    <form asp-action="SavePicture" asp-controller="ProfileSettings" method="post" runat="server" EncType="multipart/form-data">
                        <label for="picture-inp" id="edit-label" class="btn btn-success">@(Model.NoPicture == true ? "Add Image" : "Change")</label>
                        <input type="file" id="picture-inp" style="display:none;" onchange="loadPicture(this)" asp-for="ProfilePicture" runat="server" />
                        <button id="save-pict-btn" class="btn btn-success" type="submit" style="display:none;">Save</button>
                    </form>
                </div>
                <div class="mt-2 mb-2 ml-2">
                    <label for="no-picture-inp" id="remove-label" class="btn btn-danger" onclick="removePicture()"
                           style="display:@(Model.NoPicture == true ? "none" : "normal")">Remove</label>
                    <input type="hidden" id="no-picture-inp" asp-for="NoPicture" value="@Model.NoPicture" />
                    <button id="cancel-pict-btn" class="btn btn-secondary" onclick="cancelPicture()" style="display:none;">Cancel</button>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="list-group" id="myList" role="tablist" style="width:280px;align-content:end;">
                    <a class="list-group-item list-group-item-action py-2 active" id="general" data-toggle="list"
                       href="#list-general" role="tab">General</a>
                    <a class="list-group-item list-group-item-action py-2" id="password" data-toggle="list"
                       href="#list-password" role="tab">Password</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function loadPicture(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                $('#picture').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
            $('#edit-label').hide();
            $('#remove-label').hide();
            $('#save-pict-btn').show('slow');
            $('#cancel-pict-btn').show('slow');
        }
    }

    function removePicture() {
        $('#picture').attr('src', '');
        $("#picture-inp").val(null);
        $('#edit-label').html('Add Image');
        $('#remove-label').hide();
        $('#save-pict-btn').show('slow');
        $('#cancel-pict-btn').show('slow');
        $('#edit-label').hide();
    }

    function cancelPicture() {
        $('#picture').attr('src', '@Url.Action("GetPicture")');
        $('#save-pict-btn').hide();
        $('#cancel-pict-btn').hide();
        if ($('#no-picture-inp').val() == 'False') {
            $('#edit-label').html('Change');
            $('#edit-label').show('slow');
            $('#remove-label').show('slow');
        }
        else {
            $('#edit-label').html('Add Image');
            $('#edit-label').show('slow');
        }
    }
</script>
