@model PlayModel

@section pageTitle {
    <span>Play</span>
}
@section status {
    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-inline dropdown">
            <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                @Model.Username
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-info btn-sm" asp-action="Login" asp-controller="Account">Log in</a>
        <a class="btn btn-outline-info btn-sm" asp-action="Signup" asp-controller="Account">Sign up</a>
    }
}

<style>

    h1 {
        text-align: center;
        font-family:'Century Gothic';
        font-size:48pt;
    }
    h2 {
        text-align: center;
        font-family: 'Trebuchet MS';
        font-size: 32pt;
    }
    h3 {
        text-align: center;
        font-family: Consolas;
        font-size: 24pt;
    }

    .img {
        width: 900px;
        height: 600px;
        object-fit: contain;
    }

    hr {
        width: 70%;
        border-top: solid 3px;
    }

</style>

<div class="play-section container">
    <div class="row">

        <div class="col-6 b">

            <img class="col img" src="@Url.Action("GetCover", new { deckId = Model.PickedDeck.Id })">

        </div>

        <div class="col-6">
            <h1>@Model.PickedDeck.Name</h1>
            <hr>
            <h2>@Model.PickedDeck.CreatorName</h2>
            <hr>
            <h3>@Model.PickedDeck.Difficulty</h3>
            <hr>

            <a class="nav-link display-3 text-center"
               asp-action="Start"
               asp-controller="GameProcess"
               asp-route-deckId=@Model.PickedDeck.Id>Play</a>

        </div>
    </div>

</div>