@model CreatedDecksModel

@section pageTitle {
    <span>Created Decks</span>
}
@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<form method="post" asp-action="CreatedDecks" asp-controller="BrowseDecks" class="row ml-3 mb-4">
    <input placeholder="Search" asp-for="SearchFilter" class="col-xs-6 mr-1" />
    <input type="hidden" asp-for="@Model.FilterTagsString" value="@Model.FilterTagsString" />
    <button type="submit" class="btn btn-outline-secondary col-xs-6">Search</button>
</form>

<form method="post" asp-action="CreatedDecks" asp-controller="BrowseDecks" class="row ml-3 mb-4">
    <label>Filter by tags</label>
    <input placeholder="Add tag filter" class="col-xs-6 mr-1" asp-for="TagFilter" />
    <input type="hidden" asp-for="@Model.FilterTagsString" value="@Model.FilterTagsString" />
    <input type="hidden" asp-for="@Model.SearchFilter" value="@Model.SearchFilter" />

    <button type="submit" class="btn btn-outline-secondary col-xs-6">Add</button>
</form>

@if (Model.FilterTags is not null)
{
    <ul class="list-group">
        @foreach (var tag in Model.FilterTags)
        {
            <li>
                <div class="row col-sm-10 mr-1">
                    <div class="col-sm-8">
                        <div class="mw-100 text-wrap text-break">@tag</div>
                    </div>

                    <form method="post" asp-action="RemoveTagFromCreated" asp-controller="BrowseDecks">
                        <input type="hidden" class="col-xs-6 mr-1" asp-for="TagFilter" />
                        <input type="hidden" asp-for="FilterTagsString" value="@Model.FilterTagsString" />
                        <input type="hidden" asp-for="SearchFilter" value="@Model.SearchFilter" />
                        <input type="hidden" asp-for="TagToRemove" value="@tag" />

                        <button type="submit" class="btn btn-outline-danger mh-100 justify-content-center align-self-center">Add</button>
                    </form>
                </div>
            </li>
        }
    </ul>
}

@foreach (var deck in Model.CreatedDecks)
{
    <p>@deck.Name</p>

    <a class="btn btn-primary" href="#">Play</a>

    <a class="btn btn-outline-info"
       asp-action="EditDeck"
       asp-controller="DeckEditor"
       asp-route-deckId="@deck.Id">
        Edit
    </a>

    <a class="btn btn-outline-danger"
       asp-action="DeleteDeckFromDatabase"
       asp-controller="BrowseDecks"
       asp-route-deckId="@deck.Id">
        Delete for everyone
    </a>
}
