@model YourCollectionModel

@section pageTitle {
    <span>Your Collection</span>
}
@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @Model.Username
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<form method="post" asp-action="YourCollection" asp-controller="BrowseDecks" class="row ml-3 mb-4">
    <input placeholder="Search" asp-for="SearchFilter" class="col-xs-6 mr-1 rounded border border-secondary pl-2" />
    <input type="hidden" asp-for="@Model.FilterTagsString" value="@Model.FilterTagsString" />
    <button type="submit" class="btn btn-outline-secondary col-xs-6">Search</button>
</form>

<form method="post" asp-action="YourCollection" asp-controller="BrowseDecks" class="row w-25 ml-3 mb-4">
    <label class="w-100">Filter by tags</label>
    <input placeholder="Add tag filter" class="col-xs-6 mr-1 rounded border border-secondary pl-2" asp-for="TagFilter" />
    <input type="hidden" asp-for="@Model.FilterTagsString" value="@Model.FilterTagsString" />
    <input type="hidden" asp-for="@Model.SearchFilter" value="@Model.SearchFilter" />

    <button type="submit" class="btn btn-outline-secondary col-xs-6">Add</button>
</form>

@if (Model.FilterTags is not null)
{
    <div class="ml-3 d-flex flex-wrap">
        @foreach (var tag in Model.FilterTags)
        {
            <div class="p-2 d-flex flex-row">
                <div class="text-wrap text-break mt-2">@tag</div>

                <form method="post" asp-action="RemoveTagFromPopular" asp-controller="BrowseDecks">
                    <input type="hidden" class="col-xs-6 mr-1" asp-for="TagFilter" />
                    <input type="hidden" asp-for="FilterTagsString" value="@Model.FilterTagsString" />
                    <input type="hidden" asp-for="SearchFilter" value="@Model.SearchFilter" />
                    <input type="hidden" asp-for="TagToRemove" value="@tag" />

                    <button type="submit" class="btn">
                        <img src="~/img/remove.png" width="20" height="20">
                    </button>
                </form>
            </div>
        }
    </div>
}

<div class="row">
    @foreach (var deck in Model.YourDecks)
    {
        <div class="border border-secondary rounded col-3 ml-5 mt-3 p-2">
            <a class="card-link text-dark" asp-action="DeckPage" asp-controller="BrowseDecks" asp-route-deckId="@deck.Id">
                <img id="picture" src="@Url.Action("GetThumb", new { deckId = deck.Id })" alt="Deck Thumbnail"
                     style="width: 295px; height: 280px; object-fit: contain;" accept="image/*">

                <h5>@deck.Name</h5>
            </a>

            <a class="btn btn-primary"
               asp-action="DeckInfo"
               asp-controller="Play"
               asp-route-deckId=@deck.Id>
                Play
            </a>

            <a class="btn btn-outline-danger"
               asp-action="RemoveDeckFromCollection"
               asp-controller="BrowseDecks"
               asp-route-deckId="@deck.Id">
                Remove from collection
            </a>
        </div>
    }
</div>
