@model ChooseCardModel

@section pageTitle {
    <span>Import an existing card</span>
}

@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<form method="post" asp-action="ChooseCard" asp-controller="DeckEditor" class="row ml-3 mb-4">
    <input placeholder="Search" asp-for="SearchFilter" class="col-xs-6 mr-1 rounded border border-secondary pl-2" />
    <input type="hidden" asp-for="DeckId" value="@Model.DeckId" />
    <input type="hidden" asp-for="@Model.FilterTagsString" value="@Model.FilterTagsString" />
    <button type="submit" class="btn btn-outline-secondary col-xs-6">Search</button>
</form>

<form method="post" asp-action="ChooseCard" asp-controller="DeckEditor" class="row ml-3 mb-4">
    <label class="mt-1 ml-1 mr-3">Filter by tags</label>
    <input placeholder="Add tag filter" class="col-xs-6 mr-1 rounded border border-secondary pl-2" asp-for="TagFilter" />
    <input type="hidden" asp-for="@Model.FilterTagsString" value="@Model.FilterTagsString" />
    <input type="hidden" asp-for="@Model.SearchFilter" value="@Model.SearchFilter" />

    <button type="submit" class="btn btn-outline-secondary col-xs-6">Add</button>
</form>

@if (Model.FilterTags is not null)
{
    <div class="d-flex flex-wrap">
        @foreach (var tag in Model.FilterTags)
        {
            <div class="p-2 d-flex flex-row">
                <div class="text-wrap text-break mt-2">@tag</div>

                <form method="post" asp-action="RemoveTagFromChooseCard" asp-controller="DeckEditor">
                    <input type="hidden" class="col-xs-6 mr-1" asp-for="TagFilter" />
                    <input type="hidden" asp-for="FilterTagsString" value="@Model.FilterTagsString" />
                    <input type="hidden" asp-for="SearchFilter" value="@Model.SearchFilter" />
                    <input type="hidden" asp-for="TagToRemove" value="@tag" />

                    <button type="submit" class="btn">
                        <img src="~/img/remove.png" width="20" height="20">
                    </button>
                </form>
            </div>
        }
    </div>
}

<ul class="list-group">
    @foreach (var card in Model.Cards)
    {
        <li class="list-group-item w-25">
            <div class="row">
                <form method="post" class="row col-sm-12 mr-1" asp-action="EditCard" asp-controller="CardEditor">
                    <div class="col-sm-10">
                        <div class="mw-100 text-wrap text-break">@card.Word</div>
                        <input type="hidden" asp-for="@Model.CardId" value="@card.Id" />
                        <input type="hidden" asp-for="@Model.DeckId" value="@Model.DeckId" />
                    </div>

                    <button class="btn btn-outline-primary btn-sm col-sm mh-100 justify-content-center align-self-center" type="submit">Select</button>
                </form>
            </div>
        </li>
    }
</ul>
