@model ChooseDeckModel

@section pageTitle {
    <span>Choose Deck</span>
}

@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<div class="row mb-4">
    <a class="btn btn-primary col-xs-6" asp-action="CreateDeck">New deck</a>
    <form method="get" asp-action="ChooseDeck" asp-controller="DeckEditor" class="col-xs-6 row ml-3">
        <input placeholder="Search" asp-for="SearchFilter" class="h-100 col-xs-6 mr-1"/>
        <button type="submit" class="btn btn-outline-secondary col-xs-6">Search</button>
    </form>
</div>

<ul class="list-group">
   @foreach (var deck in Model.Decks)
    {
        <li class="list-group-item w-25">
            <div class="row">
                <form method="post" class="row col-sm-10 mr-1">
                    <div class="col-sm-8">
                        <label>@deck.Name</label>
                        <input type="hidden" asp-for="@deck.Id" value="@deck.Id" />
                    </div>

                    <button class="btn btn-outline-primary btn-sm col-sm" type="submit">Select</button>
                </form>

                <a class="btn btn-outline-danger btn-sm col-sm" href="@Url.Action("DeleteDeck", new { deckId = deck.Id })">Delete</a>
            </div>
        </li>
    }
</ul>
    