@model DeckEditorModel

@section pageTitle {
    <span>Edit Deck - @Model.Deck.Name</span>
}

@section status {
    <div class="d-inline dropdown">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            @User.Identity.Name
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item small" asp-action="ProfileSettings" asp-controller="ProfileSettings">Profile Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" asp-action="Logout" asp-controller="Account">Log out</a>
        </div>
    </div>
}

<div class="row d-flex justify-content-center align-items-center mb-3">
    <h4 class="col-xs-6 mr-1" id="name-display-h4">@Model.Deck.Name</h4>
    <input type="image" class="col-xs-6" src="~/img/pencil.png" width="20" height="20" onclick="changeName()" id="name-display-button" />
</div>

<form method="post" asp-action="SaveChanges" enctype="multipart/form-data" class="mb-2">
    <div class="row mb-2 w-50">
        <div class="border rounded col p-2 mr-5 w-25">
            <h5 class="mb-1">Deck Thumbnail</h5>
            <img id="thumb" class="mb-1 mh-100 mw-100" src="@Url.Action("GetThumb", new { deckId = Model.Deck.Id })" alt="Deck Thumbnail" accept="image/*" />
            <br />
            <input type="file" class="form-control-file mb-1" id="thumbInp" onchange="readThumb(this)" asp-for="@Model.Deck.Thumb" />
            <a class="btn btn-danger btn-sm" id="removeThumb" href="#">Remove</a>

            <input type="hidden" id="thumbRemoved" asp-for="@Model.Deck.ThumbRemoved" value="@false" />
        </div>

        <div class="border rounded col p-2 w-25">
            <h5 class="mb-1">Deck Cover</h5>
            <img id="cover" class="mb-1 mh-100 mw-100" src="@Url.Action("GetCover", new { deckId = Model.Deck.Id })" alt="Deck Cover" accept="image/*" />
            <br />
            <input type="file" class="form-control-file mb-1" id="coverInp" onchange="readCover(this)" asp-for="@Model.Deck.Cover" />
            <a class="btn btn-danger btn-sm" id="removeCover" href="#">Remove</a>

            <input type="hidden" id="coverRemoved" asp-for="@Model.Deck.CoverRemoved" value="@false" />
        </div>
    </div>

    <div class="mb-2">
        <h4 class="mb-1">Difficulty</h4>
        <div>
            <input type="radio" asp-for="@Model.Deck.Difficulty" value="None" checked="@(Difficulty.None == Model.Deck.Difficulty)" id="None" />
            <label asp-for="@Model.Deck.Difficulty" for="None">None</label>
        </div>
        <div>
            <input type="radio" asp-for="@Model.Deck.Difficulty" value="Beginner" checked="@(Difficulty.Beginner == Model.Deck.Difficulty)" id="Beginner" />
            <label asp-for="@Model.Deck.Difficulty" for="Beginner">Beginner</label>
        </div>
        <div>
            <input type="radio" asp-for="@Model.Deck.Difficulty" value="Intermediate" checked="@(Difficulty.Intermediate == Model.Deck.Difficulty)" id="Intermediate" />
            <label asp-for="@Model.Deck.Difficulty" for="Intermediate">Intermediate</label>
        </div>
        <div>
            <input type="radio" asp-for="@Model.Deck.Difficulty" value="Advanced" checked="@(Difficulty.Advanced == Model.Deck.Difficulty)" id="Advanced" />
            <label asp-for="@Model.Deck.Difficulty" for="Advanced">Advanced</label>
        </div>
    </div>

    <div class="form-group">
        <input type="checkbox" asp-for="@Model.Deck.IsPublic" />
        <label asp-for="@Model.Deck.IsPublic">Public</label>
    </div>

    <input type="hidden" asp-for="@Model.Deck.Id" value="@Model.Deck.Id" />
    <input type="hidden" asp-for="@Model.Deck.Name" value="@Model.Deck.Name" id="name-input" />
    <input type="hidden" asp-for="@Model.Deck.Difficulty" value="@Model.Deck.Difficulty" />

    <button class="btn btn-success" type="submit">Save Changes</button>
</form>

<div class="p-1 float-left w-25" style="width: 500px">
    <h5 class="ml-1">Cards</h5>

    <div class="row ml-1 mb-2 col-xs-6">
        <a class="btn btn-primary"
           asp-controller="CardEditor"
           asp-action="EditCard"
           asp-route-deckId="@Model.Deck.Id">
            New Card
        </a>

        <form method="post" asp-action="EditDeck" asp-controller="DeckEditor" class="col-xs-6 row ml-3">
            <input placeholder="Search" asp-for="CardSearchFilter" class="h-100 col-xs-6 mr-1" />
            <input type="hidden" asp-for="Deck.Id" />
            <button type="submit" class="btn btn-outline-secondary col-xs-6">Search</button>
        </form>
    </div>

    <a asp-action="ChooseCard"
       asp-controller="DeckEditor"
       asp-route-deckId="@Model.Deck.Id"
       class="btn btn-outline-info mb-2 ml-1">
        Import Card
    </a>

    <ul class="list-group">
        @foreach (var card in Model.Cards)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="row col-sm-10 mr-1">
                        <div class="col-sm-8">
                            <div class="mw-100 text-wrap text-break">@card.Word</div>
                        </div>

                        <a class="btn btn-outline-primary btn-sm col-sm mh-100 justify-content-center align-self-center"
                            asp-action="EditCard"
                            asp-controller="CardEditor"
                            asp-route-deckId="@Model.Deck.Id"
                            asp-route-cardId="@card.Id">Edit</a>
                    </div>

                    <a class="btn btn-outline-danger btn-sm col-sm justify-content-center align-self-center"
                        asp-controller="CardEditor" asp-action="DeleteCard"
                        asp-route-deckId="@Model.Deck.Id" asp-route-cardId="@card.Id">
                        Delete
                    </a>
                </div>
            </li>
        }
    </ul>
</div>

<div class="float-left ml-3 w-25 p-1">
    <h5 class="ml-1">Tags</h5>

    <div class="row mb-4 col-xs-6">
        <form method="post" asp-action="AddTag" asp-controller="DeckEditor" class="col-xs-6 row ml-3">
            <input placeholder="Tag Name" asp-for="TagInput" class="h-100 col-xs-6 mr-1" />
            <input type="hidden" asp-for="Deck.Id" />
            <button type="submit" class="btn btn-outline-secondary col-xs-6">Add</button>
        </form>
    </div>

    <ul class="list-group">
        @foreach (var tag in Model.Tags)
        {
            <li class="list-group-item">
                <div class="row col-sm-10 mr-1">
                    <div class="col-sm-8">
                        <div class="mw-100 text-wrap text-break">@tag.Name</div>
                    </div>

                    <a class="btn btn-outline-primary btn-sm col-sm mh-100 justify-content-center align-self-center"
                        asp-action="RemoveTag"
                        asp-controller="DeckEditor"
                        asp-route-deckId="@Model.Deck.Id"
                        asp-route-tag="@tag.Name">
                        Delete
                    </a>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    $("#removeCover").click(function (e) {
        e.preventDefault();
        $('#cover').attr('src', "");
        $("#coverInp").val(null);
        $('#coverRemoved').val(true);
    });

    $("#removeThumb").click(function (e) {
        e.preventDefault();
        $('#thumb').attr('src', "");
        $("#thumbInp").val(null);
        $('#thumbRemoved').val(true);
    });

    function readCover(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                $('#cover').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
            $('#thumbRemoved').val(false);
        }
    }

    function readThumb(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                $('#thumb').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
            $('#thumbRemoved').val(false);
        }
    }

    function changeName() {
        const nameDisplayText = document.getElementById('name-display-h4');
        const nameInput = document.createElement('input');
        nameInput.type = 'text';
        nameInput.value = nameDisplayText.innerHTML;
        nameInput.id = "change-name-input";

        nameInput.classList.add("input-group-sm");
        nameInput.classList.add("w-25");
        nameInput.classList.add("mr-1");
        nameInput.classList.add("border");
        nameInput.classList.add("border-dark");
        nameInput.classList.add("rounded");

        const saveButton = document.createElement('button');
        saveButton.innerHTML = "Save";
        saveButton.id = "change-name-button";
        saveButton.onclick = displayName;

        saveButton.classList.add("btn");
        saveButton.classList.add("btn-sm");
        saveButton.classList.add("btn-outline-success");

        const nameDisplayButton = document.getElementById("name-display-button");
        nameDisplayText.parentNode.replaceChild(nameInput, nameDisplayText);
        nameDisplayButton.parentNode.replaceChild(saveButton, nameDisplayButton);
    }

    function displayName() {
        const nameInput = document.getElementById('change-name-input');
        const nameDisplayText = document.createElement('h4');
        nameDisplayText.innerHTML = nameInput.value;
        nameDisplayText.id = "name-display-h4";

        nameDisplayText.classList.add("col-xs-6");
        nameDisplayText.classList.add("mr-1");

        const nameDisplayButton = document.createElement('input');
        nameDisplayButton.type = "image";
        nameDisplayButton.src = "/img/pencil.png";
        nameDisplayButton.id = "name-display-button";
        nameDisplayButton.width = 20;
        nameDisplayButton.height = 20;
        nameDisplayButton.onclick = changeName;

        nameDisplayButton.classList.add("col-xs-6");

        document.getElementById("name-input").value = nameInput.value;

        const saveButton = document.getElementById("change-name-button");
        nameInput.parentNode.replaceChild(nameDisplayText, nameInput);
        saveButton.parentNode.replaceChild(nameDisplayButton, saveButton);
    }
</script>
